/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales */
  body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #333;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo img {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
}

nav ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 10px;
}

/* Estilos para los enlaces */
.sub {
    display: inline-block;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.sub:hover {
    background-color: #ccc;
}

/* Estilos específicos para el mensaje de bienvenida */
.welcome-message span {
    font-weight: bold;
    text-transform: uppercase;
    color: #555;
}

/* Estilos para el enlace del carrito */
.carrito {
    position: relative;
    display: inline-block;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 50%;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
}

.carrito:hover {
    background-color: #ccc;
}

.carrito::after {
    content: attr(data-counter);
    position: absolute;
    top: -5px;
    right: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    background-color: #ff0000;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    border-radius: 50%;
}
  
  /* Estilos del contenido principal */
  main {
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .destinos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .destino {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .destino h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .destino img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .destino p {
    margin-bottom: 5px;
  }
  
  .oferta {
    font-weight: bold;
    color: green;
  }
  
  .ver-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  