/* Reset de estilos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Estilos generales */
  body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  /* Estilos del encabezado */
  header {
    background-color: #333;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .logo-header {
    width: 90px; 
    height: 90px;
}

  .logo img {
    height: 80px;
    
  }

  .sub {
    font-weight: bold;
    color: rgb(255, 255, 255);
  }
  nav ul {
    list-style-type: none;
  }
  
  nav ul li {
    display: inline-block;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Estilos del contenido principal */
  main {
    padding: 20px;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .destinos-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  
  .destino {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .destino h2 {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .destino img {
    width: 100%;
    max-height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  .destino p {
    margin-bottom: 5px;
  }
  
  .oferta {
    font-weight: bold;
    color: green;
  }
  
  .ver-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  /* Estilos del pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
  }
  